<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>[[${str}]]</h4>
    <h4>[[${list}]]</h4>
    <hr/>
    <h4 th:text="${str}"></h4>
    <h4 th:text="${list}"></h4>
<!--주석처리중-->
<!--/*주석처리중*/-->
    <hr/>
    <div th:with="num1=${10}, num2=${20}">
        <h4 th:text="${num1 + num2}"></h4>
    </div>
    <hr/>
    <ul>
        <li th:each="data:${list}" th:text="${data}"></li>
    </ul>
    <hr/>
    <ul>
        <th:block th:each="data, status:${list}">
            <li>[[${status.count}]] -- [[${data}]]</li>
        </th:block>
    </ul>
    <hr/>
    <a th:href="@{../hello}">상대주소_hello</a><br>
    <a th:href="@{/hello}">절대주소_hello</a><br>
    <a th:href="@{/hello(name='aaa',age='16')}">파라미터_hello</a><br>

</body>
</html>